@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh; /* altura completa */
  justify-content: center;
  text-align: center;

  color: #FFF;
  background: linear-gradient(to right, rgb(60, 59, 63), rgb(96, 92, 60));
}